{% extends 'master/layout.html' %}

{% block content %}
<div id="container" style="height: 400px; min-width: 310px"></div>
<hr/>
<div id="container_multi" style="min-width:400px></div>
<div id="container_dynamic" style="min-width:400px></div>
{% endblock %}

{% block js %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/highstock.js"></script>
<script src="/static/js/exporting.js"></script>

<!--内存画图-->
<script>
$(function () {
    // 使用当前时区，否则东八区会差八个小时
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });

    $.getJSON('/graphs_json/{{ hostid }}/', function (data) {

        // Create the chart
        $('#container').highcharts('StockChart', {
        chart:{
        events:{
        
            load:function(){
            
                var series = this.series[0]
                setInterval(function(){
                $.getJSON('/graphs_json/{{ hostid }}/',function(res){
                    $.each(res,function(i,v){
                        series.addPoint(v)
                    })
                })
                },3000)
            }
        }
        },

            rangeSelector : {
                selected : 1
            },

            title : {
                text : '内存数据'
            },

            series : [{
                name : '本机内存',
                data : data,
                tooltip: {
                    valueDecimals: 2
                }
            }]
        });
    });
multi();
});

//setInterval(multi,3000);

function multi(){
// 使用当前时区，否则东八区会差八个小时
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });

    $.getJSON('/idle/{{ hostid }}/', function (data) {

        // Create the chart
        $('#container').highcharts('StockChart', {
        chart:{
        events:{
        
            load:function(){
            
                var series = this.series[0]
                setInterval(function(){
                $.getJSON('/idle/{{ hostid }}/',function(res){
                    $.each(res,function(i,v){
                        series.addPoint(v)
                    })
                })
                },3000)
            }
        }
        },

            rangeSelector : {
                selected : 1
            },

            title : {
                text : 'CPU数据'
            },

            series : [{
                name : 'CPU IDLE 值',
                data : data,
                tooltip: {
                    valueDecimals: 2
                }
            }]
        });
    });
   
  }

</script>
{% endblock %}
